* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ebebeb;
  width: 100vw;
  height: 100vh;
}

h1,
h2 {
  font-family: "Frank Ruhl Libre", serif;
  color: #54eabd;
  font-size: 2.2rem;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.7rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background-color: rgb(136, 137, 137);
  grid-area: header;
  height: 8rem;
  background-image: url(/css/logo/bonz.ai-logo-color-portrait-full.png);
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.navigation {
  background-color: rgb(104, 102, 102);
  height: 3rem;
  grid-area: navigation;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation__link {
  text-decoration: none;
  color: #54eabd;
  cursor: pointer;
}

.main {
  grid-area: main;
}

.main__content {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-image: url(/css/photos/09-day.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  flex-wrap: wrap;
  color: rgb(104, 102, 102);
}

.content__button {
  border: none;
  border-radius: 999rem;
  height: 2.5rem;
  width: 7rem;
  cursor: pointer;
  background-color: #54eabd;
  color: rgb(62, 61, 61);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 0.7rem;
  margin-top: 1rem;
}

.footer {
  grid-area: footer;
  height: 5rem;
  background-color: #54eabd;
}

.footer__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.section__singlerooms {
  display: flex;
  background-color: rgb(136, 137, 137);
  gap: 2rem;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.2rem;
}

.section__doublerooms {
  display: flex;
  background-color: rgb(136, 137, 137);
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 0.2rem;
}

.room__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.room__double {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.img__single-room {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.img__double-room {
  height: 50%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      "header header header header header header"
      "navigation navigation navigation navigation navigation navigation"
      "main main main main main main"
      "footer footer footer footer footer footer";
  }

  p {
    font-size: 1rem;
  }

  h1,
  h2 {
    font-size: 2rem;
  }

  .header {
    background-size: 11%;
  }

  .navigation {
    height: 3rem;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(16, 16, 16);
  }

  .room__single {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    color: #fff;
  }

  .room__double {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    color: #fff;
    height: 50%;
  }

  .section__singlerooms,
  .section__doublerooms {
    margin-top: 1rem;
  }
}
