* {
  box-sizing: border-box;
  font-family: "Frank Ruhl Libre", serif;
}

body {
  margin: 0;
  background-color: #ebebeb;
  width: 100vw;
  height: 100vh;
}

h1,
h2 {
  color: #54eabd;
  font-size: 2.2rem;
  padding: 0rem;
}

h3 {
  font-style: italic;
  color: #54eabd;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 0.2rem;
}

label {
  text-align: center;
  color: #54eabd;
  border-radius: 5px;
  border: none;
  padding: 0.2rem;
  margin: 0.4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

input {
  align-self: center;
  border-radius: 5px;
  border: none;
  padding: 0.4rem;
  margin: 0.6rem;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  outline-style: none;
}

button:hover {
  background-color: rgb(29, 227, 22);
  color: #fff;
}

a:hover {
  background-color: #54eabd;
  border-radius: 15px 50px;
  border: none;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  height: 2.5rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 15px 50px;
}

.icons {
  font-size: 1rem;
}

.nav__icon {
  background-color: rgb(96, 97, 97);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  height: 2.5rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 15px 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
  max-width: 1000px;
  margin: 0 auto;
  gap: 0.2rem;
}

.header {
  background-color: rgb(136, 137, 137);
  grid-area: header;
  height: 8rem;
  background-image: url(/css/logo/bonz.ai-logo-color-portrait-full.png);
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.navigation {
  background-color: rgb(168, 163, 163);
  height: 3rem;
  grid-area: navigation;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.navigation__link {
  text-decoration: none;
  color: #54eabd;
  cursor: pointer;
}

.main {
  grid-area: main;
}

.main__content {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-image: url(/css/photos/09-day.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  flex-wrap: wrap;
  color: rgb(104, 102, 102);
}

.content__button {
  border: none;
  border-radius: 999rem;
  height: 2.5rem;
  width: 11rem;
  cursor: pointer;
  background-color: #54eabd;
  color: rgb(62, 61, 61);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  margin-top: 1rem;
}

.footer {
  grid-area: footer;
  height: 5rem;
  background-color: #54eabd;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.footer__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-style: italic;
  font-weight: lighter;
}

.section__singlerooms {
  display: flex;
  flex-direction: column;
  background-color: rgb(136, 137, 137);
  gap: 2rem;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.2rem;
}

.section__doublerooms {
  display: flex;
  background-color: rgb(136, 137, 137);
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 0.2rem;
}

.room__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.room__double {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.room__text {
  color: #fff;
  padding: 0.4rem;
}
.room__text__price {
  padding: 0.5rem;
  color: #54eabd;
}

.img__single-room {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.img__double-room {
  height: 35%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.section__calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(136, 137, 137);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.calendar__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(136, 137, 137);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.room__information {
  height: 83%;
  background-color: rgb(136, 137, 137);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/css/photos/05-night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 0.5rem;
}

.information__list {
  background-color: rgb(136, 137, 137);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 50%;
  opacity: 0.9;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      "header header header header header header"
      "navigation navigation navigation navigation navigation navigation"
      "main main main main main main"
      "footer footer footer footer footer footer";
  }

  p {
    font-size: 1rem;
  }

  h1,
  h2 {
    font-size: 2rem;
  }

  .header {
    background-size: 11%;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(16, 16, 16);
  }

  .room__single {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    color: #fff;
  }

  .room__double {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    color: #fff;
    height: 50%;
  }

  .section__singlerooms,
  .section__doublerooms {
    display: flex;
    flex-direction: row;
  }

  .information__list {
    width: 22%;
    padding-left: 1rem;
  }
}
